body {
  background-color: gray;
  color: black;
}

h2 {
  background-color: #0e9861;
  color: black;
}

h1 {
  color: red;
  background-color: pink;
}

table {
  widts: 50%;
  border: 1px solid white;
}
td,
th {
  border: 1px solid white;
}
